/* Add any CSS you need to this file. */
/*Yongtak Jun, yjun4@myseneca.ca*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200&family=Titillium+Web:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+Tamma+2:wght@600&family=Caveat&family=Nanum+Gothic&family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&family=Shadows+Into+Light&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
:root {
  --mdc-theme-primary: #be5683;
  --mdc-theme-secondary: #222831;
  --mdc-theme-accent: antiquewhite;
}

header {
  background-color: var(--mdc-theme-primary);
  padding: 3em;
  text-align: center;
}

header img {
  width: 7%;
  box-shadow: 1em 1em;
}

header span {
  font-size: 4em;
  font-family: 'Anton', 'Lucida Sans', 'Lucida Sans Regular';
  text-shadow: 0.1em 0.1em 0.1em purple;
}

header div {
  font-size: 1.8em;
  font-family: 'Caveat', cursive;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--mdc-theme-secondary);
}

nav li {
  float: left;
  display: block;
  color: var(--mdc-theme-accent);
  padding: 1.5em;
  text-decoration: none;
  font-family: 'Cuprum', sans-serif;
  cursor: pointer;
}

nav li:hover {
  background-color: #ebecf1;
  color: #050505;
  font-weight: bold;
}

main {
  padding-left: 6em;
  padding-right: 6em;
}

figure {
  text-align: center;
  float: left;
}

figure img {
  width: 13em;
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 0.5em;
}

figure figcaption {
  font-size: 0.8em;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

#new,
#trending {
  font-size: 1.7em;
  position: relative;
  left: 0;
  top: 0;
  margin: 2em 2em 0.7em 1.8em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

#n, #t
{
  margin: 0 0 55% 0;
}

footer {
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--mdc-theme-secondary);
  color: var(--mdc-theme-accent);
  padding: 1.5em 0 0 0;
}

footer #useful {
  width: 50%;
  text-align: center;
  float: left;
}

#useful a {
  color: #ebecf1;
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}

#useful a:hover {
  text-decoration: underline;
}

footer #social {
  width: 50%;
  text-align: center;
  float: left;
}

#social img {
  width: 7%;
}

#social img:hover {
  border: double #ebecf1;
}

footer .t {
  font-size: 1.3em;
  color: var(--mdc-theme-accent);
  font-family: 'Baloo Tamma 2', cursive;
  padding: 0.3em;
}
footer #subscribe
{
  text-align: right;
  margin: 11em 5em 1.5em;
  font-family: 'Quicksand', sans-serif;
}
#cp {
  text-align: center;
  padding: 1.5em;
}

label
{
  display: inline-block;
  width: 7em;
  text-align: right;
}
#form1
{
  width: 80%;
  margin: 3em 10%;
  font-family: 'Sriracha', cursive;
}
#error
{
  color: red;
}
#formTitle
{
  font-family: 'Anton', sans-serif;
  font-size: 200%;
}
