<h1> About</h1>
<br>
<h3>About Yongtak Music WEB application...</h3>
<ul>
    <li>This application leverages services in Angular to enable the app to fetch real data from the Spotify Web API.</li>
    <li>Users are able to search for an artist, view related albums and song titles, add songs to a "favourites" list, as well as play small audio snippets if audio samples are available.</li>
    <li>Furthermore, this application incorporates JWT in a Web API, and uses route guards, http interceptors and local storage.</li>
</ul>